*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  overflow-x: hidden;
}
#landing-area{
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
#landing-area-container{
  height: 100%;
}

#about-us{
  height: auto;
}

#services{
  height: auto;
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
/*styling for portfolio section*/
.descriptions{
  display: none;
}
.portfolio-size{
  width: 200px;
  height: 200px;
}
.portfolio-size img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.portfolio-hover{
  outline: 3px solid white;
  outline-offset: -15px;
  opacity: 0.6;
}
.portfolio-text{
  display: none;
  color: white;
  font-weight: bold;
  position: relative;
  top: -170px;
  left: 2px;
  text-align: center;
}

/*styling for contact section*/
#contact{
  height:auto;
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding-left: 20%;
  padding-right: 20%;
}
.transparent-input::placeholder{
  color:white;
}
.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0%;
  color: white;
}
.transparent-input:focus{
  background-color: rgb(234, 246, 247);
  color: black;
  border: none;
  box-shadow: 5px 5px 10px#888888;
}
.btn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
}
.btn:hover{
  background-color: white;
  color: black;
  border: none;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
/*footer section*/
footer{
  padding-top: 20px;
  padding-bottom: 10px;
}
footer img{
  margin-right: 1%;
}
