*{
  box-sizing: border-box;
}
#landing-area{
  height: 100vh;
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-size: cover;
  color: white;
}

#about-us{
  height: 30vh;
}

#services{
  height: 40vh;
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
  color: white;
}
#portfolio .container{
  padding-top: 20px;
}
#contact{
  height: 50vh;
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-size: cover;
  color: white;
}